@model string

<div class="navbar-header" style="padding-left:20px">
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
        <b><i class="glyphicon glyphicon-home"></i> @Model </b>
        <button type="button" class="navbar-toggle collapsed" 
            data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </a>
</div>