@model string
<li class="">
    <!-- Menu Toggle Button -->
    <a href="profile.php" class="dropdown-toggle">
        <i class="glyphicon glyphicon-cog text-orange"></i> 
        @Model
    </a>
</li>