@model AddNewViewModel
@{
    ViewData["Title"] = "Khách hàng | Shop";
}

@section contentHeader {
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="btn btn-success" 
                 asp-controller="Customer" asp-action="Index">Trở về</a>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a asp-controller="Customer" asp-action="Index">
                <i class="fa fa-book"></i> Khách hàng</a></li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>
}

  @Html.Partial("AddNewPartial", Model.Customer)
  <div class="col-md-4">
      <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Tìm khách hàng </h3>
         </div>
         <div class="box-body">
             <form method="post" action="cash_transaction.php" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="date">Tìm theo tên khách hàng</label>
                    <div class="input-group col-md-12">
                        <select class="form-control select2" style="width: 100%;" name="cid" required>
                            @foreach (var customer in Model.ExistingCustomers) {
                                <option value="@customer.Id">@(customer.LastName + " " + customer.FirstName)</option>
                            }
                        </select>
                    </div>
                    <br>
                       <div class="input-group col-md-12">
                        <button class="btn btn-primary pull-right" 
                                id="daterange-btn" name="">
                            Tìm kiếm
                        </button>
                    </div>
                    
                  </div><!-- /.form group -->
                </div>
             </form>
         </div>
      </div>
  </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script>
         $(document).ready(function () {
            
            var form = $('#formNewCustomer')
                , formData = $.data(form[0])
                , settings = formData.validator.settings
                // Store existing event handlers in local variables
                , oldErrorPlacement = settings.errorPlacement
                , oldSuccess = settings.success;

            settings.errorPlacement = function(label, element) {

                // Call old handler so it can update the HTML
                oldErrorPlacement(label, element);

                // Add Bootstrap classes to newly added elements
                label.parents('.form-group').addClass('has-error');
                label.addClass('text-danger');
            };

            settings.success = function(label) {
                // Remove error class from <div class="form-group">, but don't worry about
                // validation error messages as the plugin is going to remove it anyway
                label.parents('.form-group').removeClass('has-error');

                // Call old handler to do rest of the work
                oldSuccess(label);
            };
        });
         //Initialize Select2 Elements
        $(".select2").select2();

    </script>
}