@model CustomerDTO
<form asp-action="DeleteCustomer"
method="post"
asp-controller="Customer">
    <div class="modal-body">
        Bạn có chắc muốn xoá khách hàng @(Model.LastName) @(Model.FirstName) ?
        <input type="hidden" 
            class="form-control" asp-for="Id"/>
    </div>
    <div class="modal-footer clearfix"> 
        <button type="submit" class="btn btn-primary"> Xoá</button>                         
        <button type="button" class="btn btn-danger" data-dismiss="modal"> Không</button> 
    </div>
</form>