 @model AddSalesTranLineDTO
 
 @{
      var products = ViewData["Products"] as IEnumerable<Product>;
      var customerId = Convert.ToInt32(ViewData["CustomerId"]);
 }
 
 <form method="post" asp-controller="SalesTransaction" asp-action="AddLine">
    <div class="col-md-6">
        <div class="form-group">
            <label for="date">Tên sản phẩm</label>
            <select class="form-control select2" 
                asp-for="ProductId" tabindex="1" 
                autofocus required>
            
            @foreach (var product in products)
            {
                <option value="@product.Id">
                    @product.Name (@product.Quantity)
                </option>
            }
            </select>
            <input type="hidden" class="form-control" 
            asp-for="CustomerId" 
            value="@customerId" required>
        </div>
    </div>
    <div class=" col-md-2">
        <div class="form-group">
            <label for="date">Số lượng</label>
            <div class="input-group">
            <input type="number" class="form-control pull-right" 
                id="quantity" 
                asp-for="Quantity" 
                placeholder="Số lượng" 
                data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true"
                tabindex="2" value="1"  required>
            </div><!-- /.input group -->
        </div>
    </div>
    <div class="col-md-2">
    <div class="form-group">
        <label for="date"></label>
        <div class="input-group">
            <button class="btn btn-lg btn-primary" type="submit" 
                tabindex="3" name="addtocart">+</button>
        </div>
    </div>	
    </div>
</form>